catboost==1.2.8
dagshub==0.6.4
docker==7.1.0
evidently==0.4.17
fastapi==0.121.3
Flask==3.1.2
gunicorn==23.0.0
joblib==1.5.2
keras==2.12.0
lightgbm==4.6.0
matplotlib==3.9.4
mlflow==3.1.4
numpy==1.26.0
pandas==2.3.3
pillow==11.3.0
plotly==5.24.1
prefect==3.4.25
psycopg2-binary==2.9.11
pydantic==2.12.4
pydantic-extra-types==2.11.0
pydantic-settings==2.11.0
pydantic_core==2.41.5
scikit-learn==1.4.0
scipy==1.13.1
seaborn==0.13.2
sklearn==0.0
SQLAlchemy==2.0.44
sqlparse==0.5.3
tensorflow==2.16.0
uv==0.9.25
uvicorn==0.38.0
xgboost==2.1.4
